body{
    background-color: #000000;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.superOff {
    display: none !important;
}

header {
    display: flex;
    background-color:black;
    color: whitesmoke;
    flex: content;
    display: block;
    height: max-content;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0;
}

main {
    height: max-content;
    margin: 1%;
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.resultado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:fit-content;
    min-width: 200px;
    max-width: 400px;
    margin: 10px 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    color: whitesmoke;
    text-align: center;
    background-color: #252525;
}

#resultado_an {
    display: flow-root;
    width:fit-content;
    min-width: 200px;
    max-width: 400px;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 20px;
    color: whitesmoke;
    text-align: center;
    background-color: #252525;
}

footer {
    background-color: whitesmoke;
}

form {
    display:flex;
    max-width: 400px;
    height: fit-content;
    flex-wrap: wrap;
    margin: 8px 0px;
    color: whitesmoke;
    background: #252525;
    border-radius: 20px;
    padding: 10px 30px;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    align-items: baseline;
}

.div_formulario {
    display: flex;
    flex: content;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px 0px 0px 20px;
}

label[for='input_peso'] {
    margin-left: 30px;
}

input {
    border-radius: 20px;
    text-align: center;
    color: whitesmoke;
    background-color: #121212;
    border: 0;
    text-align: center;
    outline: none;
}


input[type="number"] {
    width: 40px;
    height: 30px;
    margin-top: -8px;
    text-align: center;
    justify-content: center;
    -moz-appearance: textfield;
}

/* Estilizada radio */
input[type="radio"] {
    box-sizing: border-box;
    appearance: none;
    width: 1em;
	height: 1em;
	border: 1px solid black;
	border-radius: 50%;
	background-clip: content-box;
	padding: 3px;
}

input[type="radio"]:hover {
	background-color: black;
    border: 1px solid #555;
}

input[type="radio"]:checked {
	background-color: gray;
    border: 1px solid #7c7c7c;
    animation: animacao_radio 1s;
}

@keyframes animacao_radio {
    from {border: 1px solid #555;}
    to {border: 1px solid #7c7c7c;}
    from {background-color: black;}
    to {background-color: gray;}
}

.resultados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

/* Chrome, Safari, Edge, Opera  retirar botoes do input number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* personalizada do range*/
input[type="range"] {
    min-width: 60px;
    max-width: 120px;
    margin-left: 10px;
    border: 0;
    height: 0.2em;
    justify-self: center;
    align-self: center;
    appearance: none;
}

::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #252525;
    border: .2rem solid #666565;
    border-radius: 1rem;
    cursor: pointer;
}

::-webkit-slider-thumb:hover {
    background-color: #252525;
    border: .2rem solid #7c7c7c;
    border-radius: 1rem;
    cursor: pointer;
}

::-webkit-slider-thumb:active {
    background-color: #7c7c7c;
    border: .2rem solid white;
    border-radius: 1rem;
    cursor: pointer;
}

.label_radio {
    margin-left: -1px;
    text-align: center;
}

#input_hospitalizado {
    background-color: pink;
    border: red;
    display: none;
    }

.hospitalizado {
    display: none !important;
}

.input_hospitalizado_off {
    display: none;
}

.input_hospitalizado_on {
    display: block;
}

#ml_salute_neb {
    color: whitesmoke;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
  /* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
  
  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .mostrar {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
        }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /*animacao do titulo */


.waviy {
    background-color: #000000;
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    animation: waviy 3s 1;
    animation-delay: calc(.4s * var(--i));
}

@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
    transform: translateY(-20px)
    }
}