body{
    background-color: #000000;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

header {
    display: flex;
    background-color:black;
    color: whitesmoke;
    flex: content;
    display: block;
    height: max-content;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0;
}

main {
    height: max-content;
    margin: 1%;
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:fit-content;
    min-width: 300px;
    min-height: 20  0px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: whitesmoke;
    text-align: center;
    background-color: #252525;
}

footer {
    background-color: whitesmoke;
}

form {
    display:flex;
    max-width: 400px;
    height: fit-content;
    flex-wrap: wrap;
    margin: 8px 0px;
    color: whitesmoke;
    background: #252525;
    border-radius: 20px;
    padding: 10px 30px;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    align-items: baseline;
}

.div_formulario {
    display: flex;
    flex: content;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px 0px 0px 20px;
}

label[for='input_peso'] {
    margin-left: 30px;
}

input {
    border-radius: 20px;
    text-align: center;
    color: whitesmoke;
    background-color: #121212;
    border: 0;
    text-align: center;
    outline: none;
}

input:selection { 
    border: 0;
    outline: none;
}

input[type="number"] {
    width: 90px;
    height: 20px;
    text-align: center;
    justify-content: center;
}

input[type="range"] {
    min-width: 60px;
    max-width: 120px;
    margin-left: 10px;
    justify-self: center;
    align-self: center;
}

.label_radio {
    margin-left: -1px;
    text-align: center;
}

#input_hospitalizado {
    background-color: pink;
    border: red;
    display: none;
    }

.hospitalizado {
    display: none !important;
}

.input_hospitalizado_off {
    display: none;
}

.input_hospitalizado_on {
    display: block;
}

#ml_salute_neb {
    color: whitesmoke;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .mostrar {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }